<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/main"></ion-back-button>
        </ion-buttons>
        <ion-title>Customer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
