<ion-header>
    <ion-toolbar>
        <ion-title>
            Fortget Password
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content text-center>
    <ion-grid>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3">
                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="formGroup" novalidate>
                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input type="text" formControlName="email"></ion-input>
                            </ion-item>
                        </form>
                        <ion-row margin-vertical>
                            <ion-col [offset]="3">
                                <ion-button color="primary" shape="round" expand="full" size="large" fill="solid"
                                            (click)="forgetPassword()">Submit
                                </ion-button>
                            </ion-col>
                            <ion-col></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-button color="danger" shape="round" expand="full" size="small" fill="clear"
                                            [routerLink]="['/user/login']">Login
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button color="primary" shape="round" [routerLink]="['/']" expand="full"
                                            size="small"
                                            fill="clear">Home!!
                                </ion-button>
                            </ion-col>
                            <ion-col></ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>