<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/main"></ion-back-button>
        </ion-buttons>
        <ion-title>Customer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="customerForm" novalidate>
        <ion-grid>
            <ion-row>
                <ion-col [size]="12" [sizeMd]="6">
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input type="text" formControlName="firstName"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col [size]="12" [sizeMd]="6">
                    <ion-item>
                        <ion-label position="floating">LastName</ion-label>
                        <ion-input type="text" formControlName="lastName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="12" [sizeMd]="12">

                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="12" [sizeMd]="12">
                    <ion-item>
                        <ion-label position="floating">Phone</ion-label>
                        <ion-input type="text" formControlName="phone"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="12" [sizeMd]="12">
                    <ion-item>
                        <ion-label position="floating">Street</ion-label>
                        <ion-input type="text" formControlName="street1"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="12" [sizeMd]="12">
                    <ion-item>
                        <ion-label position="floating">Apt</ion-label>
                        <ion-input type="text" formControlName="street2"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="12" [sizeMd]="4">
                    <ion-item>
                        <ion-label position="floating">City</ion-label>
                        <ion-input type="text" formControlName="city"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col [size]="12" [sizeMd]="4">
                    <ion-item>
                        <ion-label position="floating">State</ion-label>
                        <ion-input type="text" formControlName="state"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col [size]="12" [sizeMd]="4">

                    <ion-item>
                        <ion-label position="floating">PostalCode</ion-label>
                        <ion-input type="text" formControlName="postalCode"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="wrap-reverse">
                <ion-col [size]="12" [sizeMd]="6">
                    <ion-button expand="full" color="light" (click)="cancel()">Cancel
                    </ion-button>
                </ion-col>
                <ion-col [size]="12" [sizeMd]="6">
                    <ion-button expand="full" color="danger" (click)="addCustomer()">Submit
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
