<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Customer</ion-title>
        <ion-buttons slot="end" style="padding-right: 1rem;" (click)="newCustomer()">
            <ion-icon name="add"></ion-icon>
            New Customer
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
