<ion-header>
    <ion-toolbar>
        <ion-title>
            Registration
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content text-center>
    <ion-grid>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3">
                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="formGroup" novalidate>
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label>User Type</ion-label>
                                            <ion-select placeholder="User Type" formControlName="role">
                                                <ion-select-option value="user">User</ion-select-option>
                                                <ion-select-option value="employer">Employer</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('role')"
                                                                 [errorMsg]="getErrorMessages('role')"></app-field-error-message>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item [ngClass]="displayFieldCss('firstName')">
                                            <ion-label position="floating">First Name</ion-label>
                                            <ion-input type="text" formControlName="firstName"
                                                       class="form-control"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('firstName')"
                                                                 [errorMsg]="getErrorMessages('firstName')"></app-field-error-message>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">Last Name</ion-label>
                                            <ion-input type="text" formControlName="lastName"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('lastName')"
                                                                 [errorMsg]="getErrorMessages('lastName')"></app-field-error-message>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">Email</ion-label>
                                            <ion-input type="text" formControlName="email"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('email')"
                                                                 [errorMsg]="getErrorMessages('email')"></app-field-error-message>
                                    </ion-col>
                                    <ion-col>

                                        <ion-item>
                                            <ion-label position="floating">Password</ion-label>
                                            <ion-input type="password" formControlName="password"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('password')"
                                                                 [errorMsg]="getErrorMessages('password')"></app-field-error-message>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">Phone Number</ion-label>
                                            <ion-input type="tel" formControlName="phone"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('phone')"
                                                                 [errorMsg]="getErrorMessages('phone')"></app-field-error-message>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item [ngClass]="displayFieldCss('street1')">
                                            <ion-label position="floating">Street1</ion-label>
                                            <ion-input type="text" formControlName="street1"
                                                       class="form-control"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('street1')"
                                                                 [errorMsg]="getErrorMessages('street1')"></app-field-error-message>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">Street2</ion-label>
                                            <ion-input type="text" formControlName="street2"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('street2')"
                                                                 [errorMsg]="getErrorMessages('street2')"></app-field-error-message>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item [ngClass]="displayFieldCss('city')">
                                            <ion-label position="floating">City</ion-label>
                                            <ion-input type="text" formControlName="city"
                                                       class="form-control"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('city')"
                                                                 [errorMsg]="getErrorMessages('city')"></app-field-error-message>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">State</ion-label>
                                            <ion-input type="text" formControlName="state"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('state')"
                                                                 [errorMsg]="getErrorMessages('state')"></app-field-error-message>
                                    </ion-col>
                                    <ion-col>

                                        <ion-item>
                                            <ion-label position="floating">Postal Code</ion-label>
                                            <ion-input type="text" formControlName="postalCode"></ion-input>
                                        </ion-item>
                                        <app-field-error-message [displayError]="isFieldValid('postalCode')"
                                                                 [errorMsg]="getErrorMessages('postalCode')"></app-field-error-message>
                                    </ion-col>

                                </ion-row>
                            </ion-grid>

                        </form>
                        <ion-row margin-vertical>
                            <ion-col [sizeMd]="3" [offsetMd]="3">
                                <ion-button color="danger" shape="round" expand="full" size="large" fill="outline"
                                            (click)="reset()">Clear
                                </ion-button>
                            </ion-col>
                            <ion-col [sizeMd]="3">
                                <ion-button color="primary" shape="round" expand="full" size="large" fill="solid"
                                            (click)="register()">Register
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>