<ion-header>
    <ion-toolbar>
        <ion-title>
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content text-center>
    <ion-grid>
        <ion-row>
            <ion-col [sizeMd]="6" [offsetMd]="3">
                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="formGroup" novalidate>
                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input type="text" formControlName="email"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Password</ion-label>
                                <ion-input type="password" formControlName="password"></ion-input>
                            </ion-item>
                        </form>
                        <ion-row margin-vertical>
                            <ion-col [sizeMd]="3" [offsetMd]="3">
                                <ion-button color="danger" shape="round" expand="full" size="large" fill="outline"
                                            (click)="reset()">Clear
                                </ion-button>
                            </ion-col>
                            <ion-col [sizeMd]="3">
                                <ion-button color="primary" shape="round" expand="full" size="large" fill="solid"
                                            (click)="login()">Login
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <p>
                            <ion-button color="danger" shape="round" expand="full" size="small" fill="clear"
                                        (click)="forgetPassword()">Forget Password?
                            </ion-button>
                            <ion-button color="primary" shape="round" expand="full" size="small" fill="clear"
                                        (click)="register()">Register!!
                            </ion-button>
                        </p>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>