button{
  margin-top: 5.5rem;
}

.field-width {
  width: 100%;
}
:host ::ng-deep .is-invalid {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        .mat-input-placeholder-wrapper {
          label.mat-empty.mat-form-field-empty {
            color: #f44336;
          }
        }
      }
    }
    .mat-form-field-underline {
      .mat-form-field-ripple {
        background-color: red;
        transform: inherit;
        visibility: inherit;
      }
    }
  }
}

:host ::ng-deep .is-valid {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        .mat-input-placeholder-wrapper {
          label.mat-input-placeholder.mat-empty.mat-form-field-empty, label.mat-input-placeholder {
            color: green;
          }
        }
      }
    }
    .mat-form-field-underline {
      .mat-form-field-ripple {
        background-color: green;
        transform: inherit;
        visibility: inherit;
      }
    }
  }
}