<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Business</ion-title>
    <ion-buttons slot="end" style="padding-right: 1rem;">
      <ion-icon name="add"></ion-icon>
      New Customer
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
